# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS related
**/ios/Flutter/.last_build_id
**/ios/.generated/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Runner/GeneratedPluginRegistrant.swift
**/macos/Pods/
**/macos/.generated/

# Linux related
**/linux/flutter/ephemeral/
**/linux/.generated/

# Web related
**/web/.dart_tool/

# Windows related
**/windows/flutter/ephemeral/
**/windows/.generated/

# VS Code files
.vscode/
.history/

# IntelliJ / Android Studio
.idea/
*.iml

# Xcode
xcuserdata/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside
DerivedData/
*.xcconfig

# Symbolication
app.*.symbols

# Dart dependency lock (optional, but recommended to ignore in team)
pubspec.lock

# Log files
*.log

# Environment / secret files
.env
.env.*
firebase_options.dart

# Temporary files
tmp/
temp/
*.tmp
